.container {
  padding: 0 15px;
}

@media (min-width: 320px) {

  // .container {
  //   max-width: 300px;
  // }

  .smart-home_media {
    display: none;
  }

  .smart-home__third-part {
    background: url("/img/background/media/img_1.png") no-repeat 100%/cover;
  }

  .smart-home__four-part {
    background: url("/img/background/media/img_2.png") no-repeat 100%/cover;
  }

  .maps__block_map iframe {
    width: 390px;
    height: 281px;
  }

  .maps__block_descr {
    font-size: 14px;
    line-height: 17px;
  }

  .smart-home__four-part_display {
    display: block;
  }

  #maps__block {
    margin-top: 65px;
  }

  .maps__img {
    min-height: 1087px;
  }

  .maps {
    flex-direction: column;
    align-items: center;
  }

  .smart-home_4 {
    display: none;
  }

  .smart-home__four-part_btn {
    width: 332px;
  }

  .smart-home_5 {
    display: none;
  }

  .smart-home__third-part {
    min-height: 396px;
  }

  .smart-home__third-part_btn {
    margin-top: 65px;
  }

  .smart-home__four-part {
    min-height: 396px;
  }

  .smart-home__third-part_h2 {
    font-size: 33px;
    line-height: 40px;
    margin-top: 102px;
    text-align: center;
  }

  .counter {
    &__element:nth-child(2) {

      margin-right: 61px;
      margin-left: 40px;
    }

    &__element:nth-child(3) {
      margin-left: 101px;
      margin-right: 113px;

    }
  }

  .counter {
    // width: 328px;
    min-height: 591px;
  }

  #logo_full {
    display: none;
  }

  #logo_400 {
    display: block;
  }

  .smart-home_2 {
    display: none;
    // top: 567px;
  }

  .smart-home_3 {
    display: none;
  }

  .navigation__menu {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .navigation__block {
    width: 85vw;
  }

  .navigation__logo_right {
    display: none;
  }

  .smart-home__back {
    width: 360px;
    height: 110px;
    top: 340px;

  }

  .smart-home__h2 {
    font-size: 20px;
    line-height: 24px;
    width: 316px;
    padding-top: 237px;
  }

  .smart-home__h1 {
    padding-top: 131px;
    font-size: 38px;
    line-height: 46px;
    width: 332px;
  }

  .smart-home__background {
    min-height: 328px;
  }

  .smart-home__second-part_descr {
    width: 332px;
    margin-bottom: 51px;
  }


  #header_vector-2 {
    display: none;
  }

}

@media (min-width: 390px) {
  .smart-home__back {
    width: 414px;
    height: 140px;
    top: 395px;

  }

  .smart-home__h2 {
    font-size: 24px;
    line-height: 29px;
    width: 458px;
    padding-top: 299px;
  }

  .smart-home__h1 {
    padding-top: 131px;
    font-size: 48px;
    line-height: 59px;
    width: 490px;
  }

  .smart-home__background {
    min-height: 415px;
  }

  #header_vector {
    display: block;
  }




}

@media (min-width: 519px) {
  #smart-home__h2 {
    margin-bottom: 30px;
  }


}

@media (min-width: 560px) {
  .counter {
    width: auto;
    min-height: 318px;
  }
}

@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }

  .smart-home_media {
    display: block;
  }

  .smart-home_5 {
    top: 1759px;
    display: block;
  }

  .smart-home_2 {
    display: block;
    top: 564px;
  }

  .smart-home__third-part {
    background: url("/img/background/background_2.png") no-repeat 100%/cover;
  }

  .smart-home__four-part {
    background: url("/img/background/background_3.png") no-repeat 100%/cover;
  }

  .maps__block_descr {
    font-size: 16px;
    line-height: 20px;
  }

  .maps__block_map iframe {
    width: 561px;
    height: 281px;
  }




  .smart-home__third-part {
    min-height: 210px;
  }

  .smart-home__third-part_btn {
    margin-top: 29px;
  }

  .smart-home__four-part_btn {
    width: 434px;
  }

  .smart-home__four-part {
    min-height: 210px;
  }

  .smart-home__third-part_h2 {
    font-size: 40px;
    line-height: 49px;
    margin-top: 46px;
  }

  #logo_400 {
    display: none;
  }

  #logo_800 {
    display: block;
  }

  .smart-home__second-part_descr {
    width: 550px;
    margin-bottom: 0;
  }

}


@media (min-width: 620px) {
  .navigation__logo_right {
    display: block;
  }


  .counter {
    &__element:nth-child(2) {

      margin-left: 0;
      margin-right: 0;
    }

    &__element:nth-child(3) {
      margin-left: 0;
      margin-right: 0;

    }
  }

}



@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }

  .counter {
    width: 593px;
    // min-height: 318px;
    margin-left: 72px;
  }

  .smart-home__h1 {
    width: 957px;
  }

}



@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }

  .smart-home_media {
    display: none;
  }




  .smart-home_4 {
    display: block;
  }

  .counter {
    width: auto;
    min-height: 224px;
    margin-left: 0;
  }


  .smart-home__third-part {
    min-height: 362px;
  }

  .smart-home__four-part {
    min-height: 362px;
  }

  .smart-home__third-part_btn {
    margin-top: 65px;
  }

  .smart-home__third-part_h2 {
    font-size: 67px;
    line-height: 82px;
    margin-top: 114px;
  }

  .smart-home__four-part {
    min-height: 362px;
  }



  #logo_full {
    display: block;
  }

  #logo_800 {
    display: none;
  }

  .smart-home_2 {
    top: 824px;
  }

  .smart-home_3 {
    display: block;
  }

  .smart-home__back {
    top: 441px;
    width: 867px;
    height: 228px;
  }

  .smart-home__background {
    min-height: 645px;
  }

  .smart-home__h2 {
    padding-top: 347px;
    font-size: 36px;
    line-height: 44px;
    width: 943px;
  }

  .smart-home__h1 {
    padding-top: 242px;
    font-size: 67px;
    line-height: 82px;
    width: 1048px;
  }

  #header_vector {
    display: none;
  }

  #header_vector-2 {
    display: block;
  }

  .smart-home__second-part_descr {
    width: 645px;
  }




}

@media (min-width: 1055px) {


  .hamburger {
    display: none;
  }





}


@media (min-width: 1080px) {

  .navigation__menu {
    display: none;
  }

  .smart-home_5 {
    top: 2277px;
  }
}


@media (min-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }



  .smart-home_5 {
    top: 2007px;
  }

  .smart-home__back {
    width: 1100px;
  }

  .smart-home__third-part_h2 {
    width: 1015px;
  }

  .smart-home__third-part_h2 {
    width: auto;
  }

  .maps {
    flex-direction: row;
  }

  #maps__block {
    margin-top: 0;
  }

  .maps__img {
    min-height: 575px;
  }
}

@media (min-width: 1250px) {
  .navigation__menu {
    display: flex;
  }
}

@media (min-width: 1350px) {
  .navigation__block {
    width: 1250px;
  }
}

@media (min-width: 1399.98px) {
  .container {
    max-width: 1220px;
  }
}



// @media (min-width: 1919.98px) {
//   .container {
//     max-width: 1440px;
//   }
// }


// @media (max-width: 1300px) {
//   .container {
//     max-width: 1160px;
//   }
// }
