.research-and-public {
  &__slider_hidden {
    display: none;
    justify-content: center;
    min-height: 254px;
  }

  &__video {
    min-height: 418px;

    &_play {

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        margin-left: 152px;
        margin-top: 71px;
        border-top: 46px solid transparent;
        border-left: 92px solid #FF0072;
        border-bottom: 46px solid transparent;
        z-index: 5;
      }
    }

    &_header {
      padding-top: 65px;
      display: flex;
      justify-content: center;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      color: $third-font-color;
    }
  }

  &__descr {

    width: 669px;

    display: block;
    margin: auto auto;
    padding-top: 25px;
    width: 645px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: black;
  }

  &__background-2 {
    object-fit: cover;
    min-height: 273px;
    background-color: $square-background;
  }

  &__background-1 {
    min-height: 645px;
    object-fit: cover;
    background: url("/img/research-and-public/background_publick.png") no-repeat 100%/cover;
  }

  &__back {
    position: absolute;
    left: 0px;
    top: 403px;
    width: 1344px;
    height: 323px;
    z-index: 0;
    background: linear-gradient(180deg, $counter 0%, rgba(0, 185, 255, 0) 95.05%), $second-font-color;
    mix-blend-mode: multiply;
  }


  &__menu {
    display: flex;
    flex-direction: column;
    top: 292px;
    position: relative;
    z-index: 4;
  }

  &__h1 {
    top: 296px;
    z-index: 1;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 67px;
    line-height: 82px;
    text-transform: uppercase;
    color: $first-font-color;
  }



  &__menu-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: $first-font-color;
    text-decoration: none;

    &_polygon {
      margin-left: 15px;
      margin-top: 6px;
      width: 0;
      height: 0;
      border-top: 13px solid transparent;
      border-left: 19px solid #D9D9D9;
      border-bottom: 11px solid transparent;
    }

    &_wrapper {
      display: inline-flex;
    }
  }

  &__coments {
    display: flex;
    flex-direction: row;
    min-height: 260px;
    align-items: center;

    &_img {
      width: 120px;
      height: 120px;
    }

    &_text {

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 28px;
      width: 531px;
      color: $third-font-color;

    }

    &_text-2 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $third-font-color;
      margin-left: 40px;
      text-align: center;

      span {
        font-weight: 700;
      }
    }

    &_block {
      display: flex;
      flex-direction: row;

    }
  }

  &__wrapper {
    min-height: 397px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__slider {
    align-items: center;
    margin-top: 110px;

    &_arrows {
      margin-top: 0;
    }
  }


  &__img-1 {
    width: 317px;
    height: 258px;
  }

  &__img-2 {
    width: 392px;
    height: 261px;
  }

  &__img-3 {
    width: 387px;
    height: 258px;
  }

  &__video_img {
    width: 365px;
    height: 225px;
    display: block;
    position: relative;

    &::before {

      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 13px solid transparent;
      border-left: 19px solid $second-font-color;
      border-bottom: 11px solid transparent;
      z-index: 5;
    }
  }

  &__video-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
  }



  &__services {
    min-height: 512px;


    &_text-wrapper {
      margin-top: 34px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &_text-block {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      width: 395px;
      color: $third-font-color;

      span {
        font-weight: 700;
      }
    }

    &_text-block-2 {
      width: 627px;
    }
  }

  &__publications {
    min-height: 552px;
    background: $square-background;

    &_name {
      margin-top: 0;
      padding-top: 42px;
    }
  }

  &__vector-1 {
    position: absolute;
    right: 0;
    top: 1035px;
    z-index: 2;
  }

  &__vector-2 {
    position: absolute;
    right: 0;
    top: 488px;
    z-index: 2;
  }

  &__vector-3 {
    position: absolute;
    right: 0;
    top: 1806px;
    z-index: -1;
  }

  &__vector-4 {
    position: absolute;
    left: 0;
    top: 2068px;
    z-index: -1;
  }

  &__vector-5 {
    position: absolute;
    right: 0;
    top: 2854px;
    z-index: -1;
  }

  &__media-menu {
    display: none;


    min-height: 87px;
    background: $square-background;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 4;

  }

  // Для разрешений больше 1920px
  @media (min-width: 1920px) {}

  @media (min-width: 1680px) and (max-width: 1920px) {}

  @media (min-width: 1400px) and (max-width: 1680px) {}

  @media (min-width: 1200px) and (max-width: 1400px) {}

  @media (min-width: 1100px) and (max-width: 1200px) {
    &__vector-2 {
      display: none;
    }

    &__background-1 {
      min-height: 409px;
      background: url("/img/background/media/large.png") no-repeat 100%/cover;
    }

    &__back {
      width: 565px;
      height: 169px;
      top: 302px;
    }

    &__menu {
      display: none;
    }

    &__h1 {
      top: 206px;
      font-size: 48px;
      line-height: 59px;
    }

    &__media-menu {
      display: flex;
    }

    &__menu-link {
      font-size: 20px;
      line-height: 24px;
      color: $third-font-color;
    }

    &__slider_hidden {
      display: flex;
      // margin-top: 40px;
    }

    &__wrapper {
      display: none;
    }

    &__video_play-hide {
      display: none;
    }

    &__services_text-wrapper {
      flex-direction: column;
    }

    &__services {
      min-height: 820px;
    }

    &__services_text-block {
      margin-top: 54px;
      width: 82vw;
    }

    &__services_text-block-2 {
      margin-top: 109px;
      width: 82vw;
    }

    &__slider_hide {
      display: none;
    }
  }

  @media (min-width: 998px) and (max-width: 1100px) {}

  @media (min-width: 767px) and (max-width: 998px) {}

  @media (min-width: 620px) and (max-width: 767px) {}

  @media (min-width: 578px) and (max-width: 620px) {}

  @media (min-width: 390px) and (max-width: 578px) {
    &__vector-2 {
      display: none;
    }

    &__background-1 {
      min-height: 444px;
      background: url("/img/background/media/small.png") no-repeat 100%/cover;
    }

    &__back {
      width: 100%;
      height: 169px;
      top: 347px;
    }

    &__menu {
      display: none;
    }

    &__h1 {
      top: 264px;
      font-size: 38px;
      line-height: 46px;
      text-align: center;
    }


    &__media-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 153px;
    }

    &__menu-link {
      margin-top: 11px;
      font-size: 20px;
      line-height: 24px;
      color: $third-font-color;
    }

    &__coments {
      flex-direction: column;
      min-height: 490px;

      &_img {
        margin-top: 38px;
      }

      &_text {
        margin-top: 45px;
        width: 100%;
      }

      &_text-2 {
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
      }

      &_block {
        flex-direction: column;
        align-items: center;
      }
    }

    &__descr {
      width: 100%;
      padding-top: 35px;
    }

    &__background-2 {
      min-height: 471px;
    }

    // &__hide-slide {
    //   display: none;
    // }

    &__slider_hidden {
      display: none;
    }

    &__slider_hidden-2 {
      margin-bottom: 73px;
    }


    &__wrapper {
      display: none;
    }

    &__video_play-hide {
      display: none;
    }

    &__video-wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__video_header {
      text-align: center;
      padding-top: 41px;
    }

    &__video_img {
      margin-bottom: 37px;
    }

    &__video-block {
      min-height: 612px;
    }

    &__services_text-wrapper {
      flex-direction: column;
    }

    &__services {
      min-height: 950px;
    }

    &__services_text-block {
      margin-top: 15px;
      width: 100%;
    }

    &__services_text-block-2 {
      margin-top: 67px;
      width: 100%;
      padding-bottom: 30px;
    }

    &__slider_hide {
      display: none;
    }

    &__slider {
      margin-top: 35px;
      flex-wrap: wrap;
      justify-content: center;

      &_block {
        width: 325px;
        margin-bottom: 38px;
      }

      &_img {
        object-fit: cover;
        width: inherit;
        height: 169px;
      }
    }
  }

  @media (max-width: 320px) and (max-width: 390px) {}

  @media (max-width: 320px) {}

  // Для разрешений меньше 320px
}
